@model Mvc_Ogrenci.Models.Table_Ogrenci

@{
    ViewBag.Title = "Öğrenci Oluşturma";
}

<h2>Yeni Öğrenci Kaydı</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OgrAd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OgrAd, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.OgrAd, new { @class = "form-control", Placeholder = "İsim Girin", Required = "" })
                @Html.ValidationMessageFor(model => model.OgrAd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OgrSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OgrSoyad, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.OgrSoyad, new { @class = "form-control", Placeholder = "Soyad Girin", Required = "" })
                @Html.ValidationMessageFor(model => model.OgrSoyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OgrMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OgrMail, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.OgrMail, new { @class = "form-control", Placeholder = "Mail Adresi Girin", Required = "" })
                @Html.ValidationMessageFor(model => model.OgrMail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OgrFotograf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OgrFotograf, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.OgrFotograf, new { @class = "form-control", Placeholder = "Resim Yükleyin"})
                @Html.ValidationMessageFor(model => model.OgrFotograf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OgrAdres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OgrAdres, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.OgrAdres, new { @class="form-control",Placeholder="Adresi Girin",Required="" })
                @Html.ValidationMessageFor(model => model.OgrAdres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Öğrenci Sayfasına Git", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
